body{
    font-family: 'Arvo', serif;
    background-image: linear-gradient(#FCFF4B, #FFAD05);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-wrapper {
    background-color: #044389;
}

.brand-logo.center {
    font-size: 300%;
}

.card-title {
    background-color: #5995ED;
    text-align: center;
    color: white;
    border-style: outset;
    border-width: 4px;
}

.card {
    background-color: #7CAFC4;
    border-style: outset;
    border-width: 4px;
}

.list-group {
    color: black;
}